* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.nav-wrapper {
    width: 100%;
    background-color: #181818;
    color: white;
    position: fixed;
    top: 0%;
    z-index: 1;
    padding: 25px 0;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.landing-wrapper {
    height: 100vh;
}

.video-wrapper {
    position: sticky;
    z-index: -1;
}

.video-wrapper video {
    width: 100%;
    position: absolute;
    /* object-fit: cover; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(80%);
}

.landing-container {
    color: rgb(255, 255, 255);
    padding: 15% 0 0 100px;
}

.landing-container h4 {
    font-size: 24px;
}

.landing-container h1 {
    font-size: 84px;
}

.slide-wrapper {
    display: flex;
    position: relative;
}

.slide-img {
    flex: 1;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0 100%); */
    filter: brightness(20%);
    transition: flex 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.slide-wrapper .active {
    flex: 2;
    filter: brightness(100%);
}

.slide-container {
    position: absolute;
    color: white;
    padding: 7.5% 0 0 100px;
}

.slide-container h1 {
    font-size: 84px;
    margin: 150px 0 0 0;
}

.slide-container h4 {
    font-size: 36px;
    font-weight: 400;
    margin: 20px 0;
}

.slide-header {
    animation: slideIn 1s ease-out forwards;
}

.slide-sub {
    animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.brand-container {
    display: flex;
    padding: 0 100px;
    align-items: center;

}

.brand-content {
    flex: 1;
}

.brand-content h1 {
    margin-bottom: 40px;
}

.brand-container img {
    flex: 1.75;
}

.brand-button {
    display: flex;
    margin-top: 40px;
}

.news-wrapper {
    margin: 100px;
}

.news-header {
    font-size: 84px;
    margin-bottom: 40px;
}

.home-news-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 100px 0;
}

.home-news-content {
    flex: 2;
}

.home-news-content h4 {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
}

.home-news-content p {
    margin-top: 20px;
    font-weight: 300;
}

.home-news-button {
    flex: 1;
    text-align: end;
}

.news-button {
    background-color: transparent;
    color: black;
    border: 0.5px solid rgba(100, 100, 100, 0.404);
    padding: 18px 65px;
    font-size: 16px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.news-button:hover {
    background-color: black;
    color: white;
}

.news-container {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.news-container img {
    flex: 1;
}

.news-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-content h4 {
    font-size: 15px;
    font-weight: 300;
}

.news-redirect {
    margin: auto;
    background-color: #181818;
    color: white;
    border: 0.5px solid rgb(0, 0, 0);
    padding: 18px 65px;
    font-size: 16px;
    transition: background-color 0.5s ease;
    cursor: pointer;
    margin: 50px 0;
}

.news-redirect:hover {
    background-color: white;
    color: black;
}

.model-wrapper {
    display: flex;
    height: 100vh;
}

.model-active {
    background-color: rgb(243, 243, 243);
    transition: background-color 0.25s ease-in-out;
}

.model-content {
    flex: 1;
    overflow: auto;
}

.model-display {
    flex: 2;
    position: relative;
    background-color: black;
}

.model-display img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    transition: width 0.5s ease-in-out;
}

.model-items-container {
    position: absolute;
    bottom: 7%;
    left: 12%;
    color: white;
    width: 78%;
}

.model-content-items {
    padding: 20px 40px;
}

.model-content-items h1 {
    font-weight: 500;
}

.model-items-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px
}

.model-items-header h4 {
    font-weight: 300;
    font-size: 28px;
    color: rgb(200, 200, 200);
}

.model-items-header h1 {
    font-weight: 700;
    font-size: 64px;
}

.model-items-header button {
    background-color: transparent;
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.6);
    padding: 14px 45px;
    font-size: 16px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.model-items-sub {
    display: flex;
    justify-content: space-between;
}

.model-items-sub p{
    color: rgb(200, 200, 200);
    font-size: 15px;
    font-weight: 300;
}

.model-items-sub h4 {
    font-size: 28px;
}